.signup-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .signup-container input, .react-select__control {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .UserInputName input,.GenderInput,.DateOfBirth
  {
    width: 800px;
  }
  .react-select-Course, .react-select-Department
  {
    width: 390px;
  }
  .PaymentAndFee input
  {
    width: 185px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .RegisterAndStart input
  {
    width: 390px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .react-select-Register, .react-select-Branch
  {
    width: 390px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically in the middle */
  }
  
  .flex-row {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
  }
  
  .react-select {
    width: 250px; /* Adjust width as needed */
  }
  